[user]
        email = 35801656+MartinJaskulla@users.noreply.github.com
        name = Martin Jaskulla
[core]
        autocrlf = input
[merge]
        conflictStyle = diff3
[credential]
        helper = osxkeychain
        # When you have multiple git accounts, add the username in the remote url and osxkeychain will use the correct credentials: https://MartinJaskulla@github.com/MartinJaskulla/.dotfiles.git 
